<div class="col-md-12">
    <div class="group">

        <span class="pull-right">
            <% if current_user && current_user.is_member_of?(@groups) %>
                <label class="label label-success">Member</label>
                <%= link_to("Quit Group", quit_group_path(@groups), method: :post, class: "btn btn-default") %>
            <% else %>
                <label class="label label-warning">Not Member</label>
                <%= link_to("Join Group", join_group_path(@groups), method: :post, class: "btn btn-default") %>
            <% end %>
        </span>

        <%= link_to("Write a Post", new_group_post_path(@groups), class: "btn btn-default pull-right") %>
        <% if current_user && current_user == @groups.user %>
            <%= link_to("Edit", edit_group_path(@groups), class: "btn btn-primary pull-right") %>
        <% end %>
    </div>
    <h2><%= @groups.title %></h2>
    <p><%= @groups.description %></p>
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Poster</th>
                <th>Post Time</th>
            </tr>
        </thead>
        <tbody>
            <%= render :partial => "show_item", :collection => @posts, :as => :posts %>
        </tbody>
    </table>
    <div class="text-center">
        <%= will_paginate @posts %>
    </div>
</div>