<div class="col-md-12">
    <div class="group">
        <%= link_to("Write a Post", new_group_post_path(@groups), class: "btn btn-default pull-right") %>
        <% if current_user && current_user == @groups.user %>
            <%= link_to("Edit", edit_group_path(@groups), class: "btn btn-primary pull-right") %>
        <% end %>
    </div>
    <h2><%= @groups.title %></h2>
    <p><%= @groups.description %></p>
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Poster</th>
                <th>Post Time</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
                <tr>
                    <td><%= post.content %></td>
                    <td><%= post.user.email %></td>
                    <td><%= post.created_at %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
        <%= will_paginate @posts %>
    </div>
</div>